<div [@routerTransition]>
  <app-page-header [heading]="'IOA Task'" [icon]="'fa-desktop'"></app-page-header>
  <div class="row">
      <div class="col">
          <div class="card">
              <div class="card-header">IOA Task</div>
              <div class="card-body table-responsive">
                  <table datatable *ngIf="ioa_subactivity.length" class="cell-border compact stripe order-column">
                      <thead>
                        <tr>
                            <th>SEQ NUMBER</th>
                            <th>ACTIVITY CODE</th>
                            <th>TASK CODE</th>
                            <th>TASK NAME</th>
                            <th>TASK OWNER ID</th>
                            <th>TASK OWNER NAME</th>
                            <th>STATUS</th>
                            <th>START TIME</th>
                            <th>END TIME</th>
                            <th>NO EXECUTION</th>
                            <th>TOTAL DURATION</th>
                            <th>SUCCESS DURATION</th>
                            <th>FAILURE DURATION</th>
                            <th>MANUAL ADJUST</th>
                            <th>MANUAL ADJUST DURATION</th>
                            <th>MANUAL ADJUST REASON</th>
                            <th>STD PACKAGE CODE</th>
                            <th>EXECUTION METHOD</th>
                            <th>TOOL USED</th>
                            <th>QUANTITY</th>
                            <th>FAIL QUANTITY</th>
                            <th>CREATE DATE</th>
                            <th>LAST MODIFIED DATE</th>
                            <th>WORK ORDER CODE</th>
                            <th>IOA CODE</th>
                            <th>REMARKS</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of ioa_subactivity">
                            <td>{{row.SEQ_NUMBER}}</td>
                            <td>{{row.ACTIVITY_CODE}}</td>
                            <td>{{row.TASK_CODE}}</td>
                            <td>{{row.TASK_NAME}}</td>
                            <td>{{row.TASK_OWNER_ID}}</td>
                            <td>{{row.TASK_OWNER_NAME}}</td>
                            <td>{{row.STATUS}}</td>
                            <td>{{row.START_TIME}}</td>
                            <td>{{row.END_TIME}}</td>
                            <td>{{row.NO_EXECUTION}}</td>
                            <td>{{row.TOTAL_DURATION}}</td>
                            <td>{{row.SUCCESS_DURATION}}</td>
                            <td>{{row.FAILURE_DURATION}}</td>
                            <td>{{row.MANUAL_ADJUST}}</td>
                            <td>{{row.MANUAL_ADJUST_DURATION}}</td>
                            <td>{{row.MANUAL_ADJUST_REASON}}</td>
                            <td>{{row.STD_PACKAGE_CODE}}</td>
                            <td>{{row.EXECUTION_METHOD}}</td>
                            <td>{{row.TOOL_USED}}</td>
                            <td>{{row.QUANTITY}}</td>
                            <td>{{row.FAIL_QUANTITY}}</td>
                            <td>{{row.CREATE_DATE}}</td>
                            <td>{{row.LAST_MODIFIED_DATE}}</td>
                            <td>{{row.WORK_ORDER_CODE}}</td>
                            <td>{{row.IOA_CODE}}</td>
                            <td>{{row.REMARKS}}</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
