<div [@routerTransition]>
  <app-page-header [heading]="'IOA Package'" [icon]="'fa-table'"></app-page-header>
  <div class="row">
      <div class="col">
          <div class="card">
              <div class="card-header">IOA Package</div>
              <div class="card-body table-responsive">
                  <table datatable *ngIf="ioapackage.length" id="ioapackage" class="cell-border compact stripe order-column">
                      <thead>
                        <tr>
                            <th>SEQ NUMBER</th>
                            <th>WORK ORDER CODE</th>
                            <th>IOA CODE</th>
                            <th>STD PACKGE CODE</th>
                            <th>STD PACKGE NAME</th>
                            <th>OWNER</th>
                            <th>STATUS</th>
                            <th>START DATE</th>
                            <th>END DATE</th>
                            <th>DURATION</th>
                            <th>SUCCESS DURATION</th>
                            <th>FAILURE DURATION</th>
                            <th>MANUAL ADJUST DURATION</th>
                            <th>ACTIVITY COUNT</th>
                            <th>TASK COUNT</th>
                            <th>TASK QUANTITY</th>
                            <th>TASK FAIL QUANTITY</th>
                            <th>EXECUTION METHOD</th>
                            <th>CREATE DATE</th>
                            <th>LAST MODIFIED DATE</th>
                            <th>REMARKS</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of ioapackage">
                            <td>{{row.SEQ_NUMBER}}</td>
                            <td>{{row.WORK_ORDER_CODE}}</td>
                            <td>{{row.IOA_CODE}}</td>
                            <td>{{row.STD_PACKGE_CODE}}</td>
                            <td>{{row.STD_PACKGE_NAME}}</td>
                            <td>{{row.OWNER}}</td>
                            <td>{{row.STATUS}}</td>
                            <td>{{row.START_DATE | date}}</td>
                            <td>{{row.END_DATE | date}}</td>
                            <td>{{row.DURATION}}</td>
                            <td>{{row.SUCCESS_DURATION}}</td>
                            <td>{{row.FAILURE_DURATION}}</td>
                            <td>{{row.MANUAL_ADJUST_DURATION}}</td>
                            <td>{{row.ACTIVITY_COUNT}}</td>
                            <td>{{row.TASK_COUNT}}</td>
                            <td>{{row.TASK_QUANTITY}}</td>
                            <td>{{row.TASK_FAIL_QUANTITY}}</td>
                            <td>{{row.EXECUTION_METHOD}}</td>
                            <td>{{row.CREATE_DATE}}</td>
                            <td>{{row.LAST_MODIFIED_DATE}}</td>
                            <td>{{row.REMARKS}}</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
