<div [@routerTransition]>
  <app-page-header [heading]="'IOA Info'" [icon]="'fa-chart-bar'"></app-page-header>
  <div class="row">
      <div class="col">
          <div class="card">
              <div class="card-header">IOA INFO</div>
              <div class="card-body table-responsive">
                  <table class="table table-hover table-striped">
                      <thead>
                      <tr>
                          <th>Work Order Code</th>
                          <th>IOA Code</th>
                          <th>IOA Name</th>
                          <th>Project Code</th>
                          <th>Project Name</th>
                          <th>Sharing Bcode</th>
                          <th>Start Date</th>
                          <th>End Date</th>
                          <th>Duration</th>
                          <th>Success Duration</th>
                          <th>Failure Duration</th>
                          <th>Create Date</th>
                          <th>Last Modified Date</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                          <td>IOA-1</td>
                          <td>1265</td>
                          <td>IOA-01</td>
                          <td>75686F</td>
                          <td>RCT</td>
                          <td>TFE657</td>
                          <td>22-10-2018</td>
                          <td>22-11-2018</td>
                          <td>32</td>
                          <td>321.33</td>
                          <td>321.33</td>
                          <td>22-11-2018</td>
                          <td>22-11-2018</td>
                      </tr>
                      <tr>
                        <td>IOA-1</td>
                        <td>1265</td>
                        <td>IOA-01</td>
                        <td>75686F</td>
                        <td>RCT</td>
                        <td>TFE657</td>
                        <td>22-10-2018</td>
                        <td>22-11-2018</td>
                        <td>32</td>
                        <td>321.33</td>
                        <td>321.33</td>
                        <td>22-11-2018</td>
                        <td>22-11-2018</td>
                      </tr>
                      <tr>
                        <td>IOA-1</td>
                        <td>1265</td>
                        <td>IOA-01</td>
                        <td>75686F</td>
                        <td>RCT</td>
                        <td>TFE657</td>
                        <td>22-10-2018</td>
                        <td>22-11-2018</td>
                        <td>32</td>
                        <td>321.33</td>
                        <td>321.33</td>
                        <td>22-11-2018</td>
                        <td>22-11-2018</td>
                      </tr>
                      <tr>
                        <td>IOA-1</td>
                        <td>1265</td>
                        <td>IOA-01</td>
                        <td>75686F</td>
                        <td>RCT</td>
                        <td>TFE657</td>
                        <td>22-10-2018</td>
                        <td>22-11-2018</td>
                        <td>32</td>
                        <td>321.33</td>
                        <td>321.33</td>
                        <td>22-11-2018</td>
                        <td>22-11-2018</td>
                      </tr>
                      <tr>
                        <td>IOA-1</td>
                        <td>1265</td>
                        <td>IOA-01</td>
                        <td>75686F</td>
                        <td>RCT</td>
                        <td>TFE657</td>
                        <td>22-10-2018</td>
                        <td>22-11-2018</td>
                        <td>32</td>
                        <td>321.33</td>
                        <td>321.33</td>
                        <td>22-11-2018</td>
                        <td>22-11-2018</td>
                      </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
