<div [@routerTransition]>
  <app-page-header [heading]="'IOA Info'" [icon]="'fa-chart-bar'"></app-page-header>
  <!-- <angular-file-uploader>

  </angular-file-uploader> -->
  <div class="row">
      <div class="col">
          <div class="card">
              <div class="card-header">IOA INFO</div>
              <div class="card-body table-responsive">
                  <table *ngIf="ioainfo.length"  datatable [dtOptions]="dtOptions" id="ioainfo" class="cell-border compact stripe order-column">
                      <thead>
                      <tr>
                          <th>REFRESH</th>
                          <th>SEQ_NUMBER</th>
                          <th>WORK_ORDER_CODE</th>
                          <th>IOA_CODE</th>
                          <th>IOA_NAME</th>
                          <th>PROJECT_CODE</th>
                          <th>PROJECT_NAME</th>
                          <th>SHARING_BCODE</th>
                          <th>STATUS</th>
                          <th>START_DATE</th>
                          <th>END_DATE</th>
                          <th>DURATION</th>
                          <th>SUCCESS_DURATION</th>
                          <th>FAILURE_DURATION</th>
                          <th>MANUAL_ADJUST_DURATION</th>
                          <th>PACKAGE_COUNT</th>
                          <th>ACTIVITY_COUNT</th>
                          <th>TASK_COUNT</th>
                          <th>TASK_QUANTITY</th>
                          <th>TASK_FAIL_QUANTITY</th>
                          <th>CREATE_DATE</th>
                          <th>LAST_MODIFIED_DATE</th>
                          <th>LAST_DATA_REFRESH</th>
                          <th>REMARKS</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of ioainfo">
                            <td><button class="btn btn-success" (click)="refresh(row.IOA_CODE)">Refresh</button></td>
                            <td>{{row.SEQ_NUMBER}}</td>
                            <td>{{row.WORK_ORDER_CODE}}</td>
                            <td>{{row.IOA_CODE}}</td>
                            <td>{{row.IOA_NAME}}</td>
                            <td>{{row.PROJECT_CODE}}</td>
                            <td>{{row.PROJECT_NAME}}</td>
                            <td>{{row.SHARING_BCODE}}</td>
                            <td>{{row.STATUS}}</td>
                            <td>{{row.START_DATE}}</td>
                            <td>{{row.END_DATE}}</td>
                            <td>{{row.DURATION}}</td>
                            <td>{{row.SUCCESS_DURATION}}</td>
                            <td>{{row.FAILURE_DURATION}}</td>
                            <td>{{row.MANUAL_ADJUST_DURATION}}</td>
                            <td>{{row.PACKAGE_COUNT}}</td>
                            <td>{{row.ACTIVITY_COUNT}}</td>
                            <td>{{row.TASK_COUNT}}</td>
                            <td>{{row.TASK_QUANTITY}}</td>
                            <td>{{row.TASK_FAIL_QUANTITY}}</td>
                            <td>{{row.CREATE_DATE}}</td>
                            <td>{{row.LAST_MODIFIED_DATE}}</td>
                            <td>{{row.LAST_DATA_REFRESH}}</td>
                            <td>{{row.REMARKS}}</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
