<div [@routerTransition]>
  <app-page-header [heading]="'IOA Info'" [icon]="'fa-chart-bar'"></app-page-header>
  <!-- <angular-file-uploader>

  </angular-file-uploader> -->
  <div class="row">
      <div class="col">
          <div class="card">
              <div class="card-header">IOA INFO</div>
              <div class="card-body table-responsive">
                  <table *ngIf="ioainfo.length"  datatable [dtOptions]="dtOptions" id="ioainfo" class="cell-border compact stripe order-column">
                      <thead>
                      <tr>
                          <th>REFRESH</th>
                          <th>SEQ NUMBER</th>
                          <th>WORK ORDER CODE</th>
                          <th>IOA CODE</th>
                          <th>IOA NAME</th>
                          <th>PROJECT CODE</th>
                          <th>PROJECT NAME</th>
                          <th>SHARING BCODE</th>
                          <th>STATUS</th>
                          <th>START DATE</th>
                          <th>END DATE</th>
                          <th>DURATION</th>
                          <th>SUCCESS DURATION</th>
                          <th>FAILURE DURATION</th>
                          <th>MANUAL ADJUST DURATION</th>
                          <th>PACKAGE COUNT</th>
                          <th>ACTIVITY COUNT</th>
                          <th>TASK COUNT</th>
                          <th>TASK QUANTITY</th>
                          <th>TASK FAIL QUANTITY</th>
                          <th>CREATE DATE</th>
                          <th>LAST MODIFIED DATE</th>
                          <th>LAST DATA REFRESH</th>
                          <th>REMARKS</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of ioainfo">
                            <td><button class="btn btn-success" (click)="refresh(row.IOA_CODE)">Refresh</button></td>
                            <td>{{row.SEQ_NUMBER}}</td>
                            <td>{{row.WORK_ORDER_CODE}}</td>
                            <td>{{row.IOA_CODE}}</td>
                            <td>{{row.IOA_NAME}}</td>
                            <td>{{row.PROJECT_CODE}}</td>
                            <td>{{row.PROJECT_NAME}}</td>
                            <td>{{row.SHARING_BCODE}}</td>
                            <td>{{row.STATUS}}</td>
                            <td>{{row.START_DATE}}</td>
                            <td>{{row.END_DATE}}</td>
                            <td>{{row.DURATION}}</td>
                            <td>{{row.SUCCESS_DURATION}}</td>
                            <td>{{row.FAILURE_DURATION}}</td>
                            <td>{{row.MANUAL_ADJUST_DURATION}}</td>
                            <td>{{row.PACKAGE_COUNT}}</td>
                            <td>{{row.ACTIVITY_COUNT}}</td>
                            <td>{{row.TASK_COUNT}}</td>
                            <td>{{row.TASK_QUANTITY}}</td>
                            <td>{{row.TASK_FAIL_QUANTITY}}</td>
                            <td>{{row.CREATE_DATE}}</td>
                            <td>{{row.LAST_MODIFIED_DATE}}</td>
                            <td>{{row.LAST_DATA_REFRESH}}</td>
                            <td>{{row.REMARKS}}</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
