<div [@routerTransition]>
  <app-page-header [heading]="'IOA Activity'" [icon]="'fa-edit'"></app-page-header>
  <div class="row">
      <div class="col">
          <div class="card">
              <div class="card-header">IOA Activity</div>
              <div class="card-body table-responsive">
                  <table datatable *ngIf="ioa_activity.length" class="cell-border compact stripe order-column">
                      <thead>
                        <tr>
                            <th>SEQ NUMBER</th>
                            <th>ACTIVITY CODE</th>
                            <th>ACTIVITY NAME</th>
                            <th>WORK ORDER CODE</th>
                            <th>IOA CODE</th>
                            <th>STD PACKGE CODE</th>
                            <th>ACTIVITY OWNER ID</th>
                            <th>ACTIVITY OWNER NAME</th>
                            <th>STATUS</th>
                            <th>START TIME</th>
                            <th>END TIME</th>
                            <th>DURATION</th>
                            <th>SUCCESS DURATION</th>
                            <th>FAILURE DURATION</th>
                            <th>MANUAL ADJUST</th>
                            <th>MANUAL ADJUST DURATION</th>
                            <th>TASK COUNT</th>
                            <th>TASK QUANTITY</th>
                            <th>TASK FAIL QUANTITY</th>
                            <th>EXECUTION METHOD</th>
                            <th>TOOL USED</th>
                            <th>CREATE DATE</th>
                            <th>LAST MODIFIED DATE</th>
                            <th>REMARKS</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let row of ioa_activity">
                            <td>{{row.SEQ_NUMBER}}</td>
                            <td>{{row.ACTIVITY_CODE}}</td>
                            <td>{{row.ACTIVITY_NAME}}</td>
                            <td>{{row.WORK_ORDER_CODE}}</td>
                            <td>{{row.IOA_CODE}}</td>
                            <td>{{row.STD_PACKGE_CODE}}</td>
                            <td>{{row.ACTIVITY_OWNER_ID}}</td>
                            <td>{{row.ACTIVITY_OWNER_NAME}}</td>
                            <td>{{row.STATUS}}</td>
                            <td>{{row.START_TIME}}</td>
                            <td>{{row.END_TIME}}</td>
                            <td>{{row.DURATION}}</td>
                            <td>{{row.SUCCESS_DURATION}}</td>
                            <td>{{row.FAILURE_DURATION}}</td>
                            <td>{{row.MANUAL_ADJUST}}</td>
                            <td>{{row.MANUAL_ADJUST_DURATION}}</td>
                            <td>{{row.TASK_COUNT}}</td>
                            <td>{{row.TASK_QUANTITY}}</td>
                            <td>{{row.TASK_FAIL_QUANTITY}}</td>
                            <td>{{row.EXECUTION_METHOD}}</td>
                            <td>{{row.TOOL_USED}}</td>
                            <td>{{row.CREATE_DATE}}</td>
                            <td>{{row.LAST_MODIFIED_DATE}}</td>
                            <td>{{row.REMARKS}}</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>
